.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;

    &__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        //font-size: 1.6rem;

        &__menu {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            text-transform: capitalize;
            font-size: 1.6rem;

            @media (max-width: 912px) {
                font-size: 1.4rem;
            }

            &__item {
                a {
                    color: inherit;
                    text-decoration: none;

                    &:hover {
                        color: #fff;
                    }
                }
            }
        }

        &__login {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                color: inherit;

                &:hover {
                    color: #fff;
                }
            }
        }

        @media (max-width: 768px) {
            display: none;
        }

        &__mobile {
            display: flex;
            justify-content: center;
            align-items: center;

            &__button {
                background-color: transparent;
                border: none;
                color: inherit;

                display: flex;
                justify-content: center;
                align-items: center;

                cursor: pointer;

                svg {
                    width: 3rem;
                    height: 3rem;
                }
            }

            @media (min-width: 769px) {
                display: none;
            }
        }
    }
}

.sliding-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -200;
    opacity: 0;
    width: 100%;
    height: 100%;
    
    background-color: #333333;

    transform: translate(-100vw);
    transition: all .3s ease-in-out;

    &__menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-height: 100%;
        overflow-y: scroll;
        padding: 10rem 3rem;

        &__login {
            margin: 3rem 0 8rem;
            font-size: 1.8rem;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                color: inherit;
            }
        }

        &__item {
            font-size: 2.2rem;
            width: 100%;

            display: flex;
            justify-content: center;
            padding: 3rem 0;

            a {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: inherit;
                text-decoration: none;
                text-transform: capitalize;
            }
        }
    }

    &__button {
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        color: inherit;
        position: absolute;
        top: 2rem;
        right: 2rem;
        cursor: pointer;

        svg {
            width: 3rem;
            height: 3rem;
        }
    }

    &--show {
        transform: translate(0);
        transition: all .3s ease-in-out;
        z-index: 200;
        opacity: 1;
    }
}