.brand {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    gap: 2rem;

    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            color: #fff;
        }
    }

    &__logo {
        position: relative;
        width: 8rem;
        height: 8rem;
    }

    @media (max-width: 912px) {
        font-size: 2.4rem;
        gap: 1rem;
        
        &__logo {
            width: 4rem;
            height: 4rem;
        }
    }
}
